.body{

    background: cornflowerblue;

}


#divMainTitle{

    position	: absolute;
    top		    : 0;
    bottom		: 0;
    left		: 0;
    right		: 0;
    margin		: auto;
    height		: 240px;
    width		: 25%;

    text-align: center;
    border: 5px double bisque ;
    border-radius: 4%;
    padding: 20px;


}


#mainTitle{

    text-align: center;
    vertical-align: center;

}

#button{

    background-color: #4CAF50; /* Green */
    border: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}