.body{

    background: cornflowerblue;

}

#mainDiv{

    position	: absolute;
    top		    : 0;
    bottom		: 0;
    left		: 0;
    right		: 0;
    margin		: auto;
    height		: 240px;
    width		: 25%;

    text-align: center;
    vertical-align: center;

}